---
---

@import "{{ site.theme }}"; 

.page-header {
    color: #150110;
    text-align: center;
    background-color: #070b0e;
    background-image: linear-gradient(120deg, #ffd400, rgb(255, 0, 208));
}
